<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headImports}"></head>
<style>
    .lblCliente{font-weight: bold;}
</style>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav th:replace="~{fragments/navbar :: navbarImports}"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav th:replace="~{fragments/sidebar :: sidebarImports}"></nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">

                <!-- cabeçalho boas vindas -->
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="row">
                            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                <h3 class="font-weight-bold">Filtrar Chamados por Funcionário e Data</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- conteúdo principal -->
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card table-bg">
                            <div class="card-people mt-auto">
                                <div th:if="${mensagemErro}" class="alert alert-danger">
                                    <p th:text="${mensagemErro}"></p>
                                </div>
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Data de Abertura</th>
                                        <th scope="col">Cliente</th>
                                        <th scope="col">Título do Chamado</th>
                                        <th scope="col">Observação do Chamado</th>
                                        <th scope="col">Prioridade</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Técnico Responsável</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:if="${not #lists.isEmpty(chamadoTecnico)}">
                                        <tr th:each="chamado : ${chamadoTecnico}">
                                            <td th:text="${chamado.id}"></td>
                                            <td th:text="${chamado.dataAbertura}"></td>
                                            <td th:text="${chamado.cliente.nome}"></td>
                                            <td th:text="${chamado.titulo}"></td>
                                            <td th:text="${chamado.observacao}"></td>
                                            <td th:text="${chamado.prioridade}"></td>
                                            <td th:text="${chamado.status}"></td>
                                            <td th:text="${chamado.tecnico.nome}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 grid-margin transparent">
                        <!-- conteúdo indefinido -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--        <div th:replace="~{fragments/modal :: modalEdit}"></div>-->

        <!-- plugins:js -->
        <script src="/vendors/js/vendor.bundle.base.js"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="/js/off-canvas.js"></script>
        <script src="/js/template.js"></script>
        <script src="/js/hoverable-collapse.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="/js/dashboard.js"></script>
        <!-- End custom js for this page-->


</body>
</html>