<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headImports}"></head>
<style>
    .lblCliente{font-weight: bold;}
</style>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav th:replace="~{fragments/navbar :: navbarImports}"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav th:replace="~{fragments/sidebar :: sidebarImports}"></nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">

                <!-- cabeçalho boas vindas -->

                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="row">
                            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                <h3 class="font-weight-bold">Filtrar Chamados por Funcionário e Data</h3>
                                        <a href="/autocom/autocom" class="btn btn-dark">Voltar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- conteúdo principal -->
                <div class="container">
                        <div class="row">
                            <th:block th:if="${not #lists.isEmpty(chamadoTecnico)}">
                                <div th:each="chamado : ${chamadoTecnico}" class="col-md-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title" th:text="${chamado.cliente.nome}"></h5>
                                            <p class="card-text">TITULO: <span th:text="${chamado.titulo}"></span></p>
                                            <p class="card-text">DATA DE ABERTURA: <span th:text="${chamado.dataAbertura}"></span></p>
                                            <p class="card-text">PRIORIDADE: <span th:text="${chamado.prioridade}"></span></p>
                                            <p class="card-text">STATUS: <span th:text="${chamado.status}"></span></p>
                                            <p class="card-text">TECNÍCO: <span th:text="${chamado.tecnico.nome}"></span></p>
                                            <p class="card-text" th:text="${chamado.observacao}"></p>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--        <div th:replace="~{fragments/modal :: modalEdit}"></div>-->

        <!-- plugins:js -->
        <script src="/vendors/js/vendor.bundle.base.js"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="/js/off-canvas.js"></script>
        <script src="/js/template.js"></script>
        <script src="/js/hoverable-collapse.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="/js/dashboard.js"></script>
        <!-- End custom js for this page-->


</body>
</html>