<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headImports}"></head>
<style>
    .lblCliente{font-weight: bold;}
</style>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav th:replace="~{fragments/navbar :: navbarImports}"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav th:replace="~{fragments/sidebar :: sidebarImports}"></nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">

                <!-- cabeçalho boas vindas -->
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="row">
                            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                <h3 class="font-weight-bold">Listagem de Clientes</h3>
                                <a href="/autocom/autocom" class="btn btn-dark">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- conteúdo principal -->
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card table-bg">
                            <div class="card-people mt-auto">
                                <h4 class="m-4">Clientes cadastrados no sistema</h4>
                                <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">NOME</th>
                                        <th scope="col">EMAIL</th>
                                        <th scope="col">AÇÃO</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="cliente : ${clientes}">
                                        <td th:text="${cliente.id}"></td>
                                        <td th:text="${cliente.nome}"></td>
                                        <td th:text="${cliente.email}"></td>
                                        <td><a class="btn btn-warning" th:href="@{editar/{id}(id=${cliente.id})}">EDITAR</a>
<!--                                            <a class="btn btn-danger" th:href="@{excluir/{id}(id=${cliente.id})}">Excluir</a></td>-->

                                            <a class="btn btn-danger" th:href="@{excluir/{id}(id=${cliente.id})}"
                                               onclick="return confirm('Tem certeza de que deseja excluir este item?')">Excluir
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- paginação da tabela -->
                                <nav class="m-4">
                                    <ul class="pagination">
                                        <li class="page-item" th:classappend="${clientesList.first ? 'disabled' : ''}">
                                            <a class="page-link" th:if="${!clientesList.first}" th:href="@{/cliente/list-clientes/(page=1)}">First</a>
                                        </li>
                                        <li class="page-item" th:classappend="${clientesList.first ? 'disabled' : ''}">
                                            <a class="page-link" th:if="${!clientesList.first}" th:href="@{/cliente/list-clientes/(page=${clientesList.number - 1})}">Previous</a>
                                        </li>
                                        <li class="page-item" th:each="i : ${#numbers.sequence(1, clientesList.totalPages)}" th:classappend="${i == clientesList.number + 1 ? 'active' : ''}">
                                            <a class="page-link" th:text="${i}" th:href="@{/cliente/list-clientes/(page=${i})}"></a>
                                        </li>
                                        <li class="page-item" th:classappend="${clientesList.last ? 'disabled' : ''}">
                                            <a class="page-link" th:if="${!clientesList.last}" th:href="@{/cliente/list-clientes/(page=${clientesList.number + 1})}">Next</a>
                                        </li>
                                        <li class="page-item" th:classappend="${clientesList.last ? 'disabled' : ''}">
                                            <a class="page-link" th:if="${!clientesList.last}" th:href="@{/cliente/list-clientes/(page=${clientesList.totalPages})}">Last</a>
                                        </li>
                                    </ul>
                                </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 grid-margin transparent">
                        <!-- conteudo indefinido -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--        <div th:replace="~{fragments/modal :: modalEdit}"></div>-->

        <!-- plugins:js -->
        <script src="/vendors/js/vendor.bundle.base.js"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="/js/off-canvas.js"></script>
        <script src="/js/template.js"></script>
        <script src="/js/hoverable-collapse.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="/js/dashboard.js"></script>
        <script src="/js/datatables.min.js"></script>
        <!-- End custom js for this page-->
<script>
    document.getElementById("navbar-search-button").addEventListener("click", function() {
      var searchTerm = document.getElementById("navbar-search-input").value;
      // Aqui você pode adicionar a lógica para executar a pesquisa com o valor de searchTerm
      // Por exemplo, você pode fazer uma solicitação Ajax para buscar os resultados e atualizar a tabela.
      console.log("Termo de pesquisa: " + searchTerm);
    });
</script>
<script>
    function submitSearchForm() {
        document.getElementById("search-form").submit();
    }
</script>


</body>
</html>