<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headImports}"></head>
<style>
    .lblCliente {
      font-weight: bold;
    }
</style>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav th:replace="~{fragments/navbar :: navbarImports}"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav th:replace="~{fragments/sidebar :: sidebarImports}"></nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <!-- cabeçalho boas vindas -->
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="row">
                            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                <h3 class="font-weight-bold">Abertura de Agenda Técnica</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <form method="post" th:action="@{/ticket/new-ticket}" th:object="${tickets}">
                    <div class="row">
                        <!--Nome cliente -->
                        <div class="form-group col-3">
                            <label>NOME DO CLIENTE:</label>
                            <select class="form-control" th:field="*{cliente}">
                                <option th:each="cliente: ${listaClientes}" th:value="${cliente.id}" th:text="${cliente.nome}" th:selected="${cliente.id == chamado.cliente?.id}"></option>
                            </select>
                        </div>

                        <!-- Campo de Título com validação -->
                        <div class="form-group col-3">
                            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('titulo')}">
                                <label class="validation-message" th:errors="*{titulo}"></label>
                            </div>
                            <label for="nome" class="lblCliente">TÍTULO DO CHAMADO:</label>
                            <input type="text" class="form-control" autocomplete="off" th:field="*{titulo}" name="titulo" placeholder="Ex: Impressora com defeito"/>
                        </div>

                        <!-- Campo de Status com validação -->
                        <div class="form-group col-3">

                            <label for="nome" class="lblCliente">STATUS DO CHAMADO:</label>
                            <select class="form-control" th:field="*{status}">
                                <option th:each="statusTicket : ${statusChamados}" th:text="${statusTicket}" th:value="${statusTicket}"></option>
                            </select>
                        </div>

                        <!-- Campo de prioridade com validação -->
                        <div class="form-group col-3">
                            <label for="nome" class="lblCliente">PRIORIDADE DO CHAMADO:</label>
                            <select name="" id="" class="form-control" th:field="*{prioridade}">
                                <option th:each="prioridade : ${prioridade}" th:text="${prioridade}" th:value="${prioridade}"></option>
                            </select>
                        </div>

                        <!-- Campo de observacao com validação -->
                        <div class="form-group col-3">
                            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('observacao')}">
                                <label class="validation-message" th:errors="*{observacao}"></label>
                            </div>
                            <label for="nome" class="lblCliente">OBSERVAÇÃO:</label>
                            <input th:field="*{observacao}" type="text" class="form-control" autocomplete="off"  id="nome" placeholder="Ex: Lorem Ipsum"/>
                        </div>

                        <!-- Campo de tecnicos com validação -->
                        <div class="form-group col-3">
                            <label for="nome" class="lblCliente">SEECIONAR O TÉCNICO RESPONSAVEL:</label>
                            <select class="form-control" th:field="*{tecnico}">
                                <option th:each="tecs : ${tecnicos}" th:text="${tecs.nome}" th:value="${tecs.id}"></option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-rounded mt-4">SALVAR INFORMAÇÕES</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- plugins:js -->
<script src="../../vendors/js/vendor.bundle.base.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../../js/off-canvas.js"></script>
<script src="../../js/template.js"></script>
<script src="../../js/hoverable-collapse.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../../js/dashboard.js"></script>
<!-- End custom js for this page-->


</body>
</html>