<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headImports}"></head>
<style>
    .lblCliente{font-weight: bold;}
</style>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav th:replace="~{fragments/navbar :: navbarImports}"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav th:replace="~{fragments/sidebar :: sidebarImports}"></nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">

                <!-- cabeçalho boas vindas -->
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="row">
                            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                <h3 class="font-weight-bold">Detalhamento Da Visita</h3>
                                <a th:href="@{/autocom/autocom}" class="btn btn-dark">Voltar </a>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- conteúdo principal -->
                <form method="post" th:action="@{/visita/salvarvisita}" th:object="${visita}" enctype="multipart/form-data">
                    <div class="row">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                        <!-- Dados do Visitante -->
                        <div class="form-group col-12 col-md-4 col-sm-12">
                            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nomeVisitante')}" >
                                <span class="validation-message" th:errors="*{nomeVisitante}"></span>
                            </div>
                            <label for="nome" class="lblCliente">VENDEDOR AUTOCOM:</label>
                            <input type="text" th:field="*{nomeVisitante}" class="form-control" autocomplete="off" id="nome" placeholder="Visitante"
                                   onkeydown="if (event.key === 'Enter') { event.preventDefault(); document.getElementById('empresa').focus(); }">
                        </div>

                        <!-- Dados do NOME EMPRESA -->
                        <div class="form-group col-12 col-md-4 col-sm-12">
                            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nomeEmpresa')}" >
                                <span class="validation-message" th:errors="*{nomeEmpresa}"></span>
                            </div>
                            <label for="empresa" class="lblCliente">NOME DA EMPRESA:</label>
                            <input type="text" th:field="*{nomeEmpresa}" class="form-control" autocomplete="off" id="empresa" placeholder="Nome da Empresa"
                                   onkeydown="if (event.key === 'Enter') { event.preventDefault(); document.getElementById('endereco').focus(); }">
                        </div>

                        <!-- Dados do ENDEREÇO -->
                        <div class="form-group col-12 col-md-4 col-sm-12">
                            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('endereco')}" >
                                <span class="validation-message" th:errors="*{endereco}"></span>
                            </div>
                            <label for="endereco" class="lblCliente">ENDEREÇO:</label>
                            <input type="text" th:field="*{endereco}" class="form-control" autocomplete="off" id="endereco" placeholder="Endereço"
                                   onkeydown="if (event.key === 'Enter') { event.preventDefault(); document.getElementById('bairro').focus(); }">
                        </div>

                        <!-- Dados do BAIRRO -->
                        <div class="form-group col-12 col-md-4 col-sm-12">
                            <label class="lblCliente">BAIRRO</label>
                            <select class="form-control" th:field="*{bairro}">
                                <option th:each="bairro : ${listaBairro}" th:value="${bairro.id}" th:text="${bairro.nomeBairro}"></option>
                            </select>
                        </div>

                        <!-- Dados do CONTATO -->
                        <div class="form-group col-12 col-md-4 col-sm-12">
                            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('contato')}" >
                                <span class="validation-message" th:errors="*{contato}"></span>
                            </div>
                            <label for="contato" class="lblCliente">NOME DO CONTATO:</label>
                            <input type="text" th:field="*{contato}" class="form-control" autocomplete="off" id="contato" placeholder="Contato"
                                   onkeydown="if (event.key === 'Enter') { event.preventDefault(); document.getElementById('telefone').focus(); }">
                        </div>

                        <!-- Dados do TELEFONE -->
                        <div class="form-group col-12 col-md-4 col-sm-12">
                            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('telefone')}" >
                                <span class="validation-message" th:errors="*{telefone}"></span>
                            </div>
                            <label for="telefone" class="lblCliente">TELEFONE:</label>
                            <input type="text" th:field="*{telefone}" class="form-control" autocomplete="off" id="telefone" placeholder="Telefone"
                                   onkeydown="if (event.key === 'Enter') { event.preventDefault(); document.getElementById('email').focus(); }">
                        </div>

                        <!-- Dados do EMAIL -->
                        <div class="form-group col-12 col-md-4 col-sm-12">
                            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}" >
                                <span class="validation-message" th:errors="*{email}"></span>
                            </div>
                            <label for="email" class="lblCliente">E-MAIL:</label>
                            <input type="email" th:field="*{email}" class="form-control" autocomplete="off" id="email" placeholder="E-mail"
                                   onkeydown="if (event.key === 'Enter') { event.preventDefault(); document.getElementById('informacao').focus(); }">
                        </div>

                        <!-- Dados do DESCRIÇÃO -->
                        <div class="form-group col-12 col-md-4 col-sm-12">
                            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('informacao')}" >
                                <span class="validation-message" th:errors="*{informacao}"></span>
                            </div>
                            <label for="informacao" class="lblCliente">DESCRIÇÃO DA VISITA:</label>
                            <textarea th:field="*{informacao}" class="form-control" rows="5" id="informacao" placeholder="Informação sobre a visita"></textarea>
                        </div>
                    </div>

                    <!-- Dados do SISTEMA -->
                    <div class="row">
                        <div class="form-group col-12 col-md-4 col-sm-12" >
                            <label for="temSistema" class="lblCliente">TEM SISTEMA DE AUTOMAÇÃO:</label>
                            <select class="form-control" id="temSistema" name="temSistema" th:field="*{temSistema}">
                                <option th:each="visita : ${sim}" th:value="${visita}" th:text="${visita}"></option>
                            </select>
                        </div>

                        <!-- Dados do MOTIVO -->
                        <div class="form-group col-12 col-md-4 col-sm-12">
                            <label for="motivo" class="lblCliente">MOTIVO:</label>
                            <input type="text" th:field="*{motivo}" class="form-control" autocomplete="off" id="motivo" placeholder="Motivo"
                                   onkeydown="if (event.key === 'Enter') { event.preventDefault(); document.getElementById('Automacao').focus(); }">
                        </div>

                        <!-- Dados do NOME DA EMPRESA  -->
                        <div class="form-group col-12 col-md-4 col-sm-12">
                            <label for="Automacao" class="lblCliente">NOME DA EMPRESA DE AUTOMAÇÃO:</label>
                            <input type="text" th:field="*{nomeEmpresaAutomacao}" class="form-control" autocomplete="off" id="Automacao" placeholder="Nome Empresa de Automação"
                                   onkeydown="if (event.key === 'Enter') { event.preventDefault(); document.getElementById('Sistema').focus(); }">
                        </div>

                        <!-- Dados do TIPO DO SISTEMA  -->
                        <div class="form-group col-12 col-md-4 col-sm-12">
                            <label for="tipoSistema" class="lblCliente">TIPO DO SISTEMA:</label>
                            <select class="form-control" id="tipoSistema" name="tipoSistema" th:field="*{tipoSistema}">
                                <option th:each="tipo : ${tiposSistema}" th:value="${tipo}" th:text="${tipo}"></option>
                            </select>
                        </div>

                        <!-- Dados do Especifique -->
                        <div class="form-group col-12 col-md-4 col-sm-12">
                            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('especifique')}" >
                                <span class="validation-message" th:errors="*{especifique}"></span>
                            </div>
                            <label for="especifique" class="lblCliente">ESPECIFIQUE:</label>
                            <input type="text" th:field="*{especifique}" class="form-control" autocomplete="off" id="especifique" placeholder="Especifique"
                                   onkeydown="if (event.key === 'Enter') { event.preventDefault(); document.getElementById('tempodoSistema').focus(); }">
                        </div>

                        <!-- Dados do TEMPO DE SISTEMA -->
                        <div class="form-group col-12 col-md-4 col-sm-12">
                            <label for="tempodoSistema" class="lblCliente">QUANTO TEMPO TEM O SISTEMA:</label>
                            <input type="text" th:field="*{tempodoSistema}" class="form-control" autocomplete="off" id="tempodoSistema" placeholder="Há quanto tempo utiliza"
                                   onkeydown="if (event.key === 'Enter') { event.preventDefault(); document.getElementById('satisfacao').focus(); }">
                        </div>

                        <!-- Dados do SATISFAÇÃO -->
                        <div class="form-group col-12 col-md-4 col-sm-12">
                            <label for="satisfacao" class="lblCliente">SATISFAÇÃO COM O SISTEMA:</label>
                            <select class="form-control" id="satisfacao" name="satisfacao" th:field="*{satisfacao}">
                                <option th:each="visita : ${sim}" th:value="${visita}" th:text="${visita}"></option>
                            </select>
                        </div>

                        <!-- Dados do TEM SUPORTE -->
                        <div class="form-group col-12 col-md-4 col-sm-12">
                            <label for="suporte" class="lblCliente">TEM SUPORTE?</label>
                            <select class="form-control" id="suporte" name="suporte" th:field="*{suporte}">
                                <option th:each="visita : ${sim}" th:value="${visita}" th:text="${visita}"></option>
                            </select>
                        </div>

                        <!-- Dados do RECEBIMENTOS DO CARTAO -->
                        <div class="form-group col-12 col-md-4 col-sm-12">
                            <label for="cartao" class="lblCliente">POSSUI RECEBIMENTO DE CARTÃO:</label>
                            <select class="form-control" id="cartao" name="cartao" th:field="*{cartao}">
                                <option th:each="visita : ${sim}" th:value="${visita}" th:text="${visita}"></option>
                            </select>
                        </div>

                        <!-- Dados do TIPO DE RECEBIMENTO -->
                        <div class="form-group col-12 col-md-4 col-sm-12">
                            <label for="recebimento" class="lblCliente">TIPO DO RECEBIMENTO:</label>
                            <input type="text" th:field="*{recebimento}" class="form-control" autocomplete="off" id="recebimento" placeholder="Qual tipo de recebimento? TEF, POS, outros"
                                   onkeydown="if (event.key === 'Enter') { event.preventDefault(); document.getElementById('dataRetorno').focus(); }">
                        </div>


                        <!-- Dados do STATUS VISITA -->
                        <div class="form-group col-12 col-md-4 col-sm-12">
                            <label for="statusVisita" class="lblCliente">STATUS DA VISITA:</label>
                            <select class="form-control" id="statusVisita" name="statusVisita" th:field="*{statusVisita}">
                                <option th:each="visita : ${statusVisita}" th:value="${visita}" th:text="${visita}"
                                ></option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success btn-rounded mt-4">SALVAR INFORMAÇÕES</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    const form = document.querySelector('form');
    const fields = form.querySelectorAll('input, select, textarea');
    fields.forEach((field, index) => {
        field.addEventListener('keydown', (event) => {
            if (event.key === 'Enter') {
                event.preventDefault();
                const nextField = fields[index + 1];
                if (nextField) {
                    nextField.focus();
                } else {
                    form.submit();
                }
            }
        });
});
</script>
        <!-- plugins:js -->
        <script src="/vendors/js/vendor.bundle.base.js"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="/js/off-canvas.js"></script>
        <script src="/js/template.js"></script>
        <script src="/js/hoverable-collapse.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="/js/dashboard.js"></script>
        <script src="/js/datatables.min.js"></script>
        <!-- End custom js for this page-->

</body>
</html>