<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headImports}"></head>
<style>
    .lblCliente{font-weight: bold;}
</style>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav th:replace="~{fragments/navbar :: navbarImports}"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav th:replace="~{fragments/sidebar :: sidebarImports}"></nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">

                <!-- cabeçalho boas vindas -->
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="row">
                            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                <h3 class="font-weight-bold">Listagem de Visitas</h3>
                                <a href="/autocom/autocom" class="btn btn-dark">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- conteúdo principal -->
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card table-bg">
                            <div class="card-people mt-auto">
                                <h4 class="m-4">Visitas cadastradas no sistema</h4>
                                <a href="/autocom/autocom" class="btn btn-dark">Voltar</a>
                                <form th:action="@{/visita/buscar-por-mes}" method="get" class="form-inline">
                                    <label label class="my-1 mr-2 mr-sm-2" for="mes">Selecione o Mês:</label>
                                    <select class="custom-select my-1 mr-sm-2"  id="mes" name="mes">
                                        <option value="1">Janeiro</option>
                                        <option value="2">Fevereiro</option>
                                        <option value="3">Março</option>
                                        <option value="4">Abril</option>
                                        <option value="5">Maio</option>
                                        <option value="6">Junho</option>
                                        <option value="7">Julho</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Setembro</option>
                                        <option value="10">Outubro</option>
                                        <option value="11">Novembro</option>
                                        <option value="12">Dezembro</option>
                                    </select>
                                    <button class="btn btn-dark my-1" type="submit">Buscar</button>
                                </form>


                                <div class="row">
                                    <div class="col-md-12 grid-margin stretch-card">
                                        <div class="card table-bg">
                                            <div class="card-people mt-auto">
                                                <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">DATA DA VISITA</th>
                                        <th scope="col">VISITA</th>
                                        <th scope="col">NOME DA EMPRESA</th>
                                        <th scope="col">AÇÃO</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="visita : ${visitas}">
                                        <td th:text="${visita.id}"></td>
                                        <td th:text="${#temporals.format(visita.dataVisita, 'dd MMMM yyyy')}"></td>
                                        <td th:text="${visita.nomeVisitante}"></td>
                                        <td th:text="${visita.nomeEmpresa}"></td>
                                        <td><a class="btn btn-dark" th:href="@{visualizar/{id}(id=${visita.id})}">VISUALIZAR</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-12 grid-margin transparent">
                        <!-- conteudo indefinido -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


        <!-- plugins:js -->
        <script src="/vendors/js/vendor.bundle.base.js"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="/js/off-canvas.js"></script>
        <script src="/js/template.js"></script>
        <script src="/js/hoverable-collapse.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="/js/dashboard.js"></script>
        <script src="/js/datatables.min.js"></script>
        <!-- End custom js for this page-->


</body>
</html>