<nav th:fragment="navbarImports" class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" xmlns:th=""
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo mr-5" th:href="@{/}"><img src="/images/autocompeqno.png" class="mr-2" alt="logo"/></a>
      <a class="navbar-brand brand-logo-mini" th:href="@{/}"><img src="/images/autocomlogin.jpg" alt="logo"/></a>
    </div>
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="icon-menu"></span>
    </button>
    <form id="search-form" th:action="@{/cliente/pesquisar-cliente}" method="get">
      <ul class="navbar-nav mr-lg-5">
        <li class="nav-item nav-search d-lg-block">
          <div class="input-group">
            <input type="text" class="form-control" style="width: 400px;" name="nome" placeholder="Pesquisar Clientes" aria-label="search" aria-describedby="search" th:value="${termoPesquisa}">
            <div class="input-group-append hover-cursor" id="navbar-search-button">
              <button type="submit" class="btn btn-dark">Pesquisar</button>
            </div>
          </div>
        </li>
      </ul>
    </form>
      <!-- IMAGEM PERFIL -->
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
            <img th:attr="src=@{'/images/img-uploads/' + ${#authentication.getPrincipal().displayImage()}}"/>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item" sec:authorize="hasAuthority('TECNICO')" th:href="@{/tecnico/editar-perfil(id=${#authentication.getPrincipal().getId()})}">
            <i class="mdi mdi-pencil"></i>
              Editar Perfil
            </a>
            <a class="dropdown-item" sec:authorize="hasAuthority('CLIENTE')" th:href="@{/cliente/editar-perfil(id=${#authentication.getPrincipal().getId()})}">
              <i class="mdi mdi-pencil"></i>
              Editar Perfil
            </a>
            <a class="dropdown-item" th:href="@{/redefinir-senha}">
              <i class="mdi mdi-account-key"></i>
              Redefinir Senha
            </a>

            <form id="logout-form" th:action="@{/logout}" method="post">
              <a class="dropdown-item" href="javascript:void(0);" th:onclick="'document.getElementById(\'logout-form\').submit();'">
                <i class="mdi mdi-logout-variant"></i>
                Logout
              </a>
            </form>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  <script>
    function submitSearchForm() {
        document.getElementById("search-form").submit();
    }
  </script>
  <script>
    document.getElementById("navbar-search-button").addEventListener("click", function() {
      var searchTerm = document.getElementById("navbar-search-input").value;
      // Aqui você pode adicionar a lógica para executar a pesquisa com o valor de searchTerm
      // Por exemplo, você pode fazer uma solicitação Ajax para buscar os resultados e atualizar a tabela.
      console.log("Termo de pesquisa: " + searchTerm);
    });
  </script>
  </nav>