<nav th:fragment="tabelaclientes" class="sidebar sidebar-offcanvas " id="sidebar" xmlns:th="">
  <table id="tabelaClientes" class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">AÇÃO</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cliente : ${clientes}">
      <td th:text="${cliente.id}"></td>
      <td th:text="${cliente.nome}"></td>
      <td th:text="${cliente.email}"></td>
      <td>
        <a class="btn btn-warning" th:href="@{/cliente/editar/{id}(id=${cliente.id})}">EDITAR</a>
        <a class="btn btn-danger" th:href="@{/cliente/excluir/{id}(id=${cliente.id})}">Excluir</a>
      </td>
    </tr>
    </tbody>
  </table>
</nav>