<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headImports}"></head>
<style>
    .lblCliente{font-weight: bold;}
</style>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav th:replace="~{fragments/navbar :: navbarImports}"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav th:replace="~{fragments/sidebar :: sidebarImports}"></nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">

                <!-- cabeçalho boas vindas -->
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="row">
                            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                <h3 class="font-weight-bold">Listagem de Bairros</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- conteúdo principal -->
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card table-bg">
                            <div class="card-people mt-auto">
                                <h4 class="m-4">E-mails Enviados</h4>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Remetente</th>
                                        <th>Destinatário</th>
                                        <th>Assunto</th>
                                        <th>Data de Envio</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="email : ${contatos}">
                                        <td th:text="${email.emailId}"></td>
                                        <td th:text="${email.emailFrom}"></td>
                                        <td th:text="${email.emailTo}"></td>
                                        <td th:text="${email.subject}"></td>
                                        <td th:text="${email.sendDateEmail}"></td>
                                        <td th:text="${email.statusEmail}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 grid-margin transparent">
                    <!-- Conteúdo adicional, se necessário -->
                </div>

            </div>
        </div>
    </div>
</div>

<!--        <div th:replace="~{fragments/modal :: modalEdit}"></div>-->

        <!-- plugins:js -->
        <script src="/vendors/js/vendor.bundle.base.js"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="/js/off-canvas.js"></script>
        <script src="/js/template.js"></script>
        <script src="/js/hoverable-collapse.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="/js/dashboard.js"></script>
        <!-- End custom js for this page-->


</body>
</html>