<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

  <head th:replace="~{fragments/head :: headImports}"></head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav th:replace="~{fragments/navbar :: navbarImports}"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav th:replace="~{fragments/sidebar :: sidebarImports}"></nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <!-- cabeçalho boas vindas -->
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Seja Bem-Vindo(a), <span th:text="${#authentication.getPrincipal().getNome()}"></span> </h3>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card table-bg">
                <div class="card-people mt-auto">
                  <h4 class="m-4">RELATORIO POR TECNICO E PERÍODO</h4>
                  <form th:action="@{/list-filtro}" method="post" class="form">
                    <div class="row">
                      <div class="form-group col-md-4" >

                        <label for="tecnicoId">SELECIONE UM TECNICO:</label>
                        <select class="form-control" name="tecnicoId" id="tecnicoId">
                          <option th:each="tecnico : ${tecnicos}" th:value="${tecnico.id}" th:text="${tecnico.nome}"></option>
                        </select>
                      </div>

                      <div class="form-group col-md-4">
                        <label for="dataInicio">DATA DE INÍCIO:</label>
                        <input class="form-control" type="date" name="dataInicio" id="dataInicio">
                      </div>

                      <div class="form-group col-md-4">
                        <label for="dataFim">DATA DE FIM:</label>
                        <input class="form-control" type="date" name="dataFim" id="dataFim">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-dark">FILTRAR</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
            <!-- content main -->
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card table-bg">
                <div class="card-people mt-auto">
                  <h4 class="m-4">Últimos chamados inseridos</h4>
                  <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">DATA DE ABERTURA:</th>
                      <th scope="col">CLIENTE:</th>
                      <th scope="col">TITULO DO CHAMADO:</th>
                      <th scope="col">PRIORIDADE</th>
                      <th scope="col">STATUS</th>
                      <th scope="col">FUNCIONARIO RESPONSÁVEL:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="chamado : ${chamadosList}">
                      <td th:text="${chamado.id}"></td>
                      <td th:text="${chamado.dataAbertura}"></td>
                      <td th:text="${chamado.cliente.nome}"></td>
                      <td th:text="${chamado.titulo}"></td>
                      <td th:text="${chamado.prioridade}"></td>
                      <td th:text="${chamado.status}"></td>
                      <td th:text="${chamado.tecnico.nome}"></td>
                    </tr>
                    </tbody>
                  </table>

                  <!-- paginação da tabela -->
                  <nav class="m-4">
                    <ul class="pagination">
                      <li class="page-item" th:classappend="${chamadosList.first ? 'disabled' : ''}">
                        <a class="page-link" th:if="${!chamadosList.first}" th:href="@{/(page=1)}">First</a>
                      </li>
                      <li class="page-item" th:classappend="${chamadosList.first ? 'disabled' : ''}">
                        <a class="page-link" th:if="${!chamadosList.first}" th:href="@{/(page=${chamadosList.number - 1})}">Previous</a>
                      </li>
                      <li class="page-item" th:each="i : ${#numbers.sequence(1, chamadosList.totalPages)}" th:classappend="${i == chamadosList.number + 1 ? 'active' : ''}">
                        <a class="page-link" th:text="${i}" th:href="@{/(page=${i})}"></a>
                      </li>
                      <li class="page-item" th:classappend="${chamadosList.last ? 'disabled' : ''}">
                        <a class="page-link" th:if="${!chamadosList.last}" th:href="@{/(page=${chamadosList.number + 1})}">Next</a>
                      </li>
                      <li class="page-item" th:classappend="${chamadosList.last ? 'disabled' : ''}">
                        <a class="page-link" th:if="${!chamadosList.last}" th:href="@{/(page=${chamadosList.totalPages})}">Last</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="col-md-12 grid-margin transparent">
             <!-- conteudo indefinido -->
            </div>
          </div>
          <!-- end content wrapper -->
        </div>
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023 - Autocom Automação Comercial </span>
          </div>
        </footer> 
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>   
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/js/off-canvas.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/js/dashboard.js"></script>

  <!-- End custom js for this page-->
</body>

</html>

